# Step 4: Run the entire pipeline and execute some queries.

This is where we are going to execute all the processes from start until the end. After running the ETL pipeline, we can start making queries about the database.

The cell below runs the other three notebooks and imports the functions in the them.

In [2]:
%run data_extraction.ipynb
%run data_transformation.ipynb
%run data_loading.ipynb

Requirement already satisfied: certifi in c:\users\asus\anaconda3\lib\site-packages (2024.7.4)

In [3]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\asus\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\asus\anaconda3\lib\site-packages (from SQLAlchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\asus\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)

In [4]:
# to manage json data
import json

# for pandas dataframes
import pandas as pd

# for SQLAlchemy (database connection, creation, data types)
import sqlalchemy as db
from sqlalchemy_utils import create_database
from sqlalchemy_utils import database_exists
from sqlalchemy.types import Integer, String, Text, ARRAY, VARCHAR, Date, Numeric, BigInteger

## This is the main function for running the ETL pipeline.

The steps are in order:
1. Extract data
2. Transform data
3. Load data

I have also exported the DataFrames that were created to store the movies and actors data before loading them into our own relational database.

In [ ]:
def etl():
    movies_df, actors_df = extract_data()
    new_movies_df, new_actors_df = transform_data(movies_df, actors_df)
    load_data(new_movies_df, new_actors_df)
    
    export_dataframe_to_csv(new_movies_df, '../resources/movies_cleaned.csv')
    export_dataframe_to_csv(new_actors_df, '../resources/actors_cleaned.csv')

## Run the ETL pipeline and make some queries!

Below, we run the ETL pipeline and execute queries using SQLAlchemy to our database in pgAdmin. The queries will be stored in DataFrames using functions from the pandas package.

In [ ]:
etl()

db_name = 'omni_oracle_movies_db'
#engine = db.create_engine(f"postgresql://postgres:admin@localhost:5432/{db_name}") 
#conn = engine.raw_connection()

#all_movies = pd.read_sql('SELECT * FROM movies', conn)