In [1]:
%run data_extraction.ipynb
%run data_transformation.ipynb

Requirement already satisfied: certifi in c:\users\asus\anaconda3\lib\site-packages (2024.7.4)

In [3]:
# to manage json data
import json

# for pandas dataframes
import pandas as pd

In [5]:
movies_df, actors_df = extract_data()
new_movies_df, new_actors_df = transform_data(movies_df, actors_df)
export_dataframe_to_csv(new_movies_df, '../resources/movies_cleaned.csv')
export_dataframe_to_csv(new_actors_df, '../resources/actors_cleaned.csv')

print(new_movies_df)
print()
print(new_actors_df)

IMDB DATA FILE EXISTS: READING... DONE - 251 MOVIE TITLES IMPORTED

OMDB DATA FILE EXISTS: READING... DONE - 250 MOVIE DATA IMPORTED

TMDB DATA FILE EXISTS: READING... DONE - 250 MOVIE DATA IMPORTED

TMDB DATA FILE EXISTS: READING... DONE - 250 MOVIE DATA IMPORTED

ACTOR ID TEXT FILE EXISTS: READING... DONE - 592 ACTOR IDs IMPORTED

TMDB DATA FILE EXISTS: READING... DONE - 591 ACTOR DATA IMPORTED

                        title  year certification release_date  runtime  \
0    The Shawshank Redemption  1994             R   1994-10-14  142 min
1               The Godfather  1972             R   1972-03-24  175 min
2             The Dark Knight  2008         PG-13   2008-07-18  152 min
3       The Godfather Part II  1974             R   1974-12-18  202 min
4                12 Angry Men  1957      Approved   1957-04-10   96 min
..                        ...   ...           ...          ...      ...
245                  The Help  2011         PG-13   2011-08-10  146 min
246     It Happened One Night  1934      Approved   1934-02-22  105 min
247                   Aladdin  1992             G   1992-11-25   90 min
248              Paris, Texas  1984             R   1984-08-23  145 min
249        Gangs of Wasseypur  2012     Not Rated   2012-06-22  321 min

                              genre  \
0                           [Drama]
1                    [Crime, Drama]
2            [Action, Crime, Drama]
3                    [Crime, Drama]
4                    [Crime, Drama]
..                              ...
245                         [Drama]
246               [Comedy, Romance]
247  [Animation, Adventure, Comedy]
248                         [Drama]
249         [Action, Comedy, Crime]

                                           description  \
0    Chronicles the experiences of a formerly succe...
1    The Godfather "Don" Vito Corleone is the head ...
2    Set within a year after the events of Batman B...
3    The continuing saga of the Corleone crime fami...
4    The defense and the prosecution have rested, a...
..                                                 ...
245  Set in Mississippi during the 1960s, Skeeter (...
246  Ellie Andrews has just tied the knot with soci...
247  Aladdin is a poor street urchin who spends his...
248  A man wanders out of the desert after a four y...
249  Shahid Khan is exiled after impersonating the ...

                                         language  \
0                                       [English]
1                       [English, Italian, Latin]
2                             [English, Mandarin]
3    [English, Italian, Spanish, Latin, Sicilian]
4                                       [English]
..                                            ...
245                                     [English]
246                                     [English]
247                                     [English]
248                            [English, Spanish]
249                                       [Hindi]

                                               country  \
0                                      [United States]
1                                      [United States]
2                      [United States, United Kingdom]
3                                      [United States]
4                                      [United States]
..                                                 ...
245                             [United States, India]
246                                    [United States]
247                                    [United States]
248  [West Germany, France, United Kingdom, United ...
249                                    [India, France]

                        director  oscars  winnings  nominations  \
0               [Frank Darabont]       0        21           42
1         [Francis Ford Coppola]       3        31           31
2            [Christopher Nolan]       2       164          164
3         [Francis Ford Coppola]       6        17           21
4                 [Sidney Lumet]       0        16           12
..                           ...     ...       ...          ...
245                [Tate Taylor]       1        79          121
246                [Frank Capra]       5        11            2
247  [Ron Clements, John Musker]       2        35           22
248                [Wim Wenders]       0        16           12
249             [Anurag Kashyap]       0        18           65

                                                actors  ratings  num_of_votes  \
0            [Tim Robbins, Morgan Freeman, Bob Gunton]      9.3       2918363
1               [Marlon Brando, Al Pacino, James Caan]      9.2       2039832
2        [Christian Bale, Heath Ledger, Michael Caine]      9.0       2907659
3             [Al Pacino, Robert Duvall, Diane Keaton]      9.0       1376501
4           [Martin Balsam, John Fiedler, Lee J. Cobb]      9.0        877276
..                                                 ...      ...           ...
245     [Emma Stone, Viola Davis, Bryce Dallas Howard]      8.1        498075
246  [Clark Gable, Claudette Colbert, Walter Connolly]      8.1        113573
247      [Scott Weinger, Robin Williams, Linda Larkin]      8.0        474008
248  [Harry Dean Stanton, Nastassja Kinski, Dean St...      8.1        121397
249   [Manoj Bajpayee, Richa Chadha, Tigmanshu Dhulia]      8.2        104507

       revenue      budget
0     25000000    28341469
1      6000000   245066411
2    185000000  1004558444
3     13000000   102600000
4       397751     4360000
..         ...         ...
245   25000000   216600000
246     325000     4500000
247   28000000   504050219
248    1750000     2181987
249    1400000     4100000

[250 rows x 18 columns]

                 name date_of_birth date_of_death  gender  \
0         Tim Robbins    1958-10-16           NaN    Male
1      Morgan Freeman    1937-06-01           NaN    Male
2          Bob Gunton    1945-11-15           NaN    Male
3       Marlon Brando    1924-04-03    2004-07-01    Male
4           Al Pacino    1940-04-25           NaN    Male
..                ...           ...           ...     ...
586  Nastassja Kinski    1961-01-24           NaN  Female
587    Dean Stockwell    1936-03-05    2021-11-07    Male
588    Manoj Bajpayee    1969-04-23           NaN    Male
589      Richa Chadha    1986-12-18           NaN  Female
590  Tigmanshu Dhulia    1967-07-03           NaN    Male

     num_of_acting_credits
0                       88
1                      189
2                       88
3                      107
4                      114
..                     ...
586                     78
587                    124
588                     89
589                     29
590                     11

[591 rows x 5 columns]